body {
  font-family: 'Raleway', sans-serif;
  background: rgba(242, 242, 242, 0.6);
  margin: 0;
}

* {
  box-sizing: border-box
}

.display-none {
  display: none;
}
/*NAVBAR*/
.navbar {
  background-color: #31b0d5;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  display: flex;
  justify-content: center;
  z-index: 1;
}

.navbar a {
  font-weight: 300;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
  font-family: monospace;
}

.anchor {
  display: block;
  position: relative;
  top: -70px;
  visibility: hidden;
}

/*JUMBOTRON*/
.jumbotron {
  height: 800px; /*height to 100% of view height*/
  background: #31b0d5; /*background color to blue*/
  margin-bottom: 0; /*no bottom margin*/
  display: flex;
  flex-direction: column;
}

.jumbotron-text {
  /*TAGLINE UNDER NAME*/
  font-weight: 400;
  font-size: 32px;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.jumbotron-text h1 {
  /*YOUR NAME*/
  text-transform: uppercase;
  font-weight: 800;
  font-size: 3em;
  margin-bottom: 0;
}

.jumbotron-text p {
  margin: 0;
}

/*SOCIAL LINKS*/
.ul-social {
  text-align: center;
  padding-left: 0;
}

.li-social-links {
  display: inline-block;
  list-style: none;
}

.social {
  font-size: 32px;
  color: white;
  padding: 20px;
}

/*ARROW LINK*/
#down-arrow {
  /*position: absolute;
  width: 100%;*/
  margin-top: auto;
  text-align: center;
  margin-bottom: 50px;
}

#down-arrow a {
  color: white;
}

/*CONTENT*/
.container {
  /*sets up flexbox*/
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
}

.white {
  background: white;
}

.side-content {
  flex: 0 0 16.6%;
}

.main-content {
  flex: 0 0 66.6%;
  margin-top: 32px;
  margin-bottom: 48px;
}

.side-content-sm {
  flex: 0 0 10%;
}

.main-content-lg {
  flex: 0 0 80%;
  margin-top: 32px;
  margin-bottom: 48px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
}

a.social img {
  width:30px; 
  height:30px;
}

h2 {
  font-weight: 200;
  font-family: bolder;
  font-size: 40px;
  color: #31b0d5;
  text-transform: uppercase;
  text-align: center;
}

.content-body {
  line-height: 1.5;
  color: rgba(0,0,0,.75);
}

/*EDUCATION*/
.card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 4px;
  margin-bottom: 30px;
}

.card-header {
  padding: 12px 20px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,.075);
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-content {
  padding: 4px 20px;
  flex: 1 1 auto;
}

.content-body2 p {
  text-align: center;
}

h4 {
  font-size: 20px;
  margin: 0;
  font-weight: 400;
  color: grey;
}

.job-title {
        float:right; 
        clear:right; 
        margin-top: -50px; 
}

.job-title2 {
        float:right; 
        clear:right; 
        margin-top: -50px; 
}
/*PROJECTS*/
.project-card {
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px;
  margin-bottom: 30px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.08), 0 3px 6px rgba(0,0,0,0.15);
}

.project-image {
  flex: 1 0 auto;
}

.project-image img {
  display: block;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

#project-content {
    float: left;
    border: 2px solid grey;
    position: relative;
    bottom: 30px;
}

/*SKILLS*/
.ul-skills {
  text-align: center;
  padding-left: 0;
}

.li-skills {
  display: inline-block;
  margin: 7px;
  padding: 5px 10px;
  color: white;
  background: #31b0d5;
  list-style: none;
  cursor: default;
  font-size: 19.2px;
}

/*CONTACT*/
.blue {
  background: #3498db;
  text-align: center;
}

.contact {
  max-width: 500px;
  margin: 0 auto;
}

.contact input, .contact textarea {
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 4px;
  border: none;
  margin-bottom: 10px;
  background: #1d6fa5;
  color: #fff;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.contact textarea {
  height: 150px;
  resize: none;
}

.contact button {
  display: block;
  width: 100%;
  background: #fff;
  border-radius: 4px;
  padding: 5px 10px;
  border: none;
  color: #3498db;
  font-weight: 700;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}


button#download1 {
  background-color:white;
  border-radius: 70px;
  font-size: 25px;
  position: relative;
  top: 30px;
  width: 29%;
  }

.white-text {
  color: white;
}

.profilepic {
  float: center;
}


.profilepic img {
  width: 210px;
  border-radius: 70%;
  height: 210px;
  position: relative;
  bottom : 40px;
}

a.resume{ 
  display:inline-block;
  color:#fff;
  padding:15px 25px;
  border:3px solid #fff;
  border-radius:15px;
  -webkit-transition:.5s ease all;
  transition:.5s ease all;
  text-decoration:none;
  position: relative;
  top: 25px;
  font-size: 25px; 
 }

a.resume:hover{
  color:#3498db;
  background:#fff;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

.card h3{
  font-weight:500;
  float:left;
  margin:15px;
  color:black;
}

#contact{
  padding:50px 15px;
  background:#31b0d5;
  text-align:center;
}
#contact h2{
  margin:0 0 15px 0;
  color:#fff;
  font-weight:500;
}
#contact-form{max-width:500px;margin:0 auto}

#contact-form input,#contact-form textarea{
  display:block;
  width:100%;
  padding:10px;
  border-radius:4px;
  border:none;
  margin-bottom:10px;
  background:#1d6fa5;
  color:#fff;
  -webkit-transition:.5s ease all;
  transition:.5s ease all;
  font-size: 20px;
  }

#contact-form input::-webkit-input-placeholder,

#contact-form textarea::-webkit-input-placeholder{
  color:#fff
}

#contact-form input:-moz-placeholder,

#contact-form textarea:-moz-placeholder{
  color:#fff;opacity:1
}

#contact-form input::-moz-placeholder,

#contact-form textarea::-moz-placeholder{
  color:#fff;
  opacity:1;
}

#contact-form input:-ms-input-placeholder,

#contact-form textarea:-ms-input-placeholder{
  color:#fff
}

#contact-form input:focus,

#contact-form textarea:focus{
  outline:none;
  background:#16527a;
}

#contact-form textarea{
  height:150px;resize:none}

#contact-form button{
  display:block;
  width:100%;
  background:#fff;
  border-radius:4px;
  padding:5px 10px;border:none;
  color:#3498db;
  font-weight:700;
  box-shadow:0 1px 3px rgba(0,0,0,0.12),0 1px 2px rgba(0,0,0,0.24);
  -webkit-transition:.5s ease all;transition:.5s ease all}

#contact-form button:hover{box-shadow:0 10px 20px rgba(0,0,0,0.19),0 6px 6px rgba(0,0,0,0.23)}

@media only screen and (max-width: 480px){
  .jumbotron h1{
    font-size:24px;
    }
  .jumbotron h2
  {
    font-size:16px;
    }
  .jumbotron a{
    font-size:14px;
    padding:5px 10px;
  }
}

@media only screen and (max-width: 726px) {
#project-content {
    float: left;
    border: 2px solid grey;
    position: relative;
    padding: 20px;
    bottom: 30px;
}
}
 

